{% extends 'index.html' %}

{% block title %} Password Done {% endblock title%}

{% block main %}
<div class="container-xxl position-relative p-0">
    <div class="container-xxl bg-dark hero-header min-vh-100 d-flex align-items-center justify-content-center">
        <div class="row w-100 justify-content-center">
            <div class="col-md-6">
                <div class="card border-light bg-transparent">
                    <div class="card-header bg-light text-center ">
                        <h3> Account Validation</h3>
                    </div>
                    <div class="card-body">
                        <div id="invalid"></div>
                        <div class="text-light">
                            <p> We have mailed you a validation code, please enter the code to continue.</p>
                            <p>Didn't get any email? Please ensure that the email address you provided is the one you registered with.</p>
                        </div>
                        <form id="validation-form" method="post">
                            {% csrf_token %}
                            <div class="form-floating mb-3">
                                <input type="text" name="validation_code" id="validation_code" class="form-control" placeholder="Enter 6 digits validation code" required autocomplete="one-time-code" />
                                <label for="validation_code">Validation Code</label>
                            </div>
                            <button type="submit" class="btn btn-primary col-12 btn-lg" id="validate-account">Validate Account</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
{% block customJS %}
<script>
    // Focus the validation code input on page load
    window.onload = function() {
        document.getElementById('validation_code').focus();
    };

    document.getElementById('validation-form').addEventListener("submit", function(event) {
        event.preventDefault();
        let isValid = true;
        const validationCodeInput = document.getElementById('validation_code');
        const validation_code = validationCodeInput.value.trim();

        if (!validation_code) {
            isValid = false;
            validationCodeInput.classList.add('is-invalid');
        } else {
            validationCodeInput.classList.remove('is-invalid');
        }

        if (isValid) {
            const submitButton = document.getElementById('validate-account');
            disableButton(submitButton);

            $.ajax({
                url: "{% url 'password_done' %}",
                type: "POST",
                data: {
                    "validation_code": validation_code,
                    "csrfmiddlewaretoken": "{{ csrf_token }}"
                },
                success: function(response) {
                    if (response.status == 200) {
                        const uid = response.uid;
                        console.log(uid);
                        document.getElementById('invalid').innerHTML = `<p class="alert alert-success"> <i class="fa-solid fa-circle-check"></i> ${response.message} </p>`;
                        setTimeout(() => {
                            window.location.href = `/password/${uid}/`;
                        }, 3000);
                    } else {
                        document.getElementById('invalid').innerHTML = `<p class="alert alert-danger"> <i class="fa-solid fa-circle-info"></i> ${response.message} </p>`;
                    }
                    validationCodeInput.value = '';
                },
                complete: function() {
                    enableButton(submitButton);
                }
            });
        } else {
            document.getElementById('invalid').innerHTML = `<p class="alert alert-danger"> <i class="fa-solid fa-circle-info"></i> Please provide the validation code sent to your email!</p>`;
        }
    });

    function disableButton(button) {
        button.disabled = true;
        button.innerHTML = `
            <div class='d-flex align-items-center justify-content-center'>
                <span class='spinner-border text-light' aria-hidden='true'></span>
                <span class="visually-hidden">validating...</span>
            </div>
        `;
    }
    function enableButton(button) {
        button.disabled = false;
        button.innerText = 'Validate Account';
    }
</script>
{% endblock customJS %}
