{% extends 'index.html' %}

{% block title %} Password Reset Completed {% endblock title%}

{% block main %}

<div class="container-xxl position-relative p-0">
    <div class="container-xxl bg-dark hero-header min-vh-100 d-flex align-items-center justify-content-center">
        <div class="row w-100 justify-content-center">
            <div class="col-md-6">
                <div class="card border-light bg-transparent">
                    <div class="card-header bg-light text-center ">
                        <h3> Password Reset Completed!</h3>
                    </div>
                    <div class="card-body">
                        <div class="text-start text-light">
                            <p> Your new password has been created. Please keep your new password safe and don't share it.</p>
                            <p>
                                You will be automatically redirected to the login in 
                                <span id="countdown" class="fw-bold text-warning">25</span> s.
                                If you are not redirected, please click
                                <a href="{% url 'login_view' %}" class="text-primary text-decoration-none">here</a> to login.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock main %}
{% block customJS %}

<script>
    window.onload = function() {
        let seconds = 25;
        const countdownSpan = document.getElementById('countdown');
        const interval = setInterval(() => {
            seconds--;
            if (seconds > 0) {
                countdownSpan.textContent = seconds;
            } else {
                clearInterval(interval);
                countdownSpan.textContent = 0;
                window.location.href = "{% url 'login_view' %}";
            }
        }, 1000);

        // Fallback in case setInterval is interrupted
        setTimeout(() => {
            window.location.href = "{% url 'login_view' %}";
        }, 25000);
    }
</script>

{% endblock customJS %}
