{% extends 'index.html' %}

{% block title %} Confirm Password {% endblock title%}

{% block main %}
<div class="container-xxl position-relative p-0">
    <div class="container-xxl bg-dark hero-header min-vh-100 d-flex align-items-center justify-content-center">
        <div class="row w-100 justify-content-center">
            <div class="col-md-6">
                <div class="card border-light bg-transparent">
                    <div class="card-header bg-light text-center ">
                        <h3> Create New Password </h3>
                    </div>
                    <div class="card-body">
                        <form action="" method="post" id="password-form">
                            {% csrf_token %}
                            <div id="invalid"></div>
                            <p class="text-light">Password must contain 8 or more characters.</p>
                            <div class="form-floating mb-3">
                                <input type="password" name="password" id="password" class="form-control" placeholder="New Password" required minlength="8" />
                                <label for="password">New Password</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" name="confirm_password" id="confirm_password" class="form-control" placeholder="Confirm Password" required minlength="8" />
                                <label for="confirm_password">Confirm Password</label>
                            </div>
                            <button type="submit" class="btn btn-primary col-12 btn-lg" id="reset-password">Set Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
{% block customJS %}
<script>
    // Focus the password input on page load
    window.onload = function() {
        document.getElementById('password').focus();
    };

    // Helper functions
    function disableButton(button) {
        button.disabled = true;
        button.innerHTML = `
            <div class='d-flex align-items-center justify-content-center'>
                <span class='spinner-border text-light' aria-hidden='true'></span>
                <span class="visually-hidden">updating...</span>
            </div>
        `;
    }
    function enableButton(button) {
        button.disabled = false;
        button.innerText = 'Set Password';
    }

    document.getElementById('password-form').addEventListener("submit", function(event) {
        event.preventDefault();
        let isValid = true;
        const password = document.getElementById('password');
        const confirm_password = document.getElementById('confirm_password');
        const passwordInput = password.value.trim();
        const confirmPasswordInput = confirm_password.value.trim();
        const invalidDiv = document.getElementById('invalid');
        invalidDiv.innerHTML = "";

        // Validation
        if (!passwordInput) {
            isValid = false;
            password.classList.add('is-invalid');
        } else if (passwordInput.length < 8) {
            isValid = false;
            password.classList.add('is-invalid');
            invalidDiv.innerHTML += `<p class="alert alert-danger"><i class="fa-solid fa-circle-info"></i> Password must be at least 8 characters long.</p>`;
        } else {
            password.classList.remove('is-invalid');
        }

        if (!confirmPasswordInput) {
            isValid = false;
            confirm_password.classList.add('is-invalid');
        } else {
            confirm_password.classList.remove('is-invalid');
        }

        if (passwordInput && confirmPasswordInput && passwordInput !== confirmPasswordInput) {
            isValid = false;
            confirm_password.classList.add('is-invalid');
            invalidDiv.innerHTML += `<p class="alert alert-danger"><i class="fa-solid fa-circle-info"></i> Passwords do not match.</p>`;
        }

        if (isValid) {
            const submitButton = document.getElementById('reset-password');
            disableButton(submitButton);

            $.ajax({
                url: "/password/{{uid}}/",
                type: "POST",
                data: {
                    "password": passwordInput,
                    "confirm_password": confirmPasswordInput,
                    "csrfmiddlewaretoken": "{{ csrf_token }}"
                },
                success: function(response) {
                    if (response.status == 200) {
                        password.value = '';
                        confirm_password.value = '';
                        invalidDiv.innerHTML = `<p class="alert alert-success"><i class="fa-solid fa-circle-check"></i> ${response.message}</p>`;
                        setTimeout(() => {
                            window.location.href = "{% url 'password_complete' %}";
                        }, 3000);
                    } else {
                        invalidDiv.innerHTML = `<p class="alert alert-danger"><i class="fa-solid fa-circle-info"></i> ${response.message}</p>`;
                    }
                },
                complete: function() {
                    enableButton(submitButton);
                }
            });
        } else if (!invalidDiv.innerHTML) {
            invalidDiv.innerHTML = `
                <p class="alert alert-danger"><i class="fa-solid fa-circle-info"></i> Please fill out password and confirm password fields!</p>
            `;
        }
    });
</script>
{% endblock customJS %}
