{% extends 'utilities/layout.html' %}
{% block hero %} {% endblock hero %}
{% block main %}

    <h2 class="text-center py-3 bg-light" id="sub-title"></h2>
    <div class="tab-content mt-3">
        <div id="tab-1" class="tab-pane fade show p-0 active">
            <div class="row g-3 g-md-4 mx-1 mx-lg-0 mb-5" id="product-container">
                
            </div>
        </div>
    </div>

    <!-- <div class="d-flex justify-content-end me-3">
        <button id="prev-btn" class="btn btn-dark me-2">Previous</button>
        <button id="next-btn" class="btn btn-success">Next</button>
    </div> -->

<!--
    <small class="w-50 text-center py-2 border"">
        <div class="col d-flex align-items-center justify-content-center">
            <a class="text-primary remove-from-cart me-3" type="button" title="Reduce item quantity"><i class="fa fa-minus" style="font-size: 0.8rem"></i></a>
            <span style="width: 25px; font-size: 0.8rem" class="text-center ms-2"><span id="qty-"></span></span>
            <a class="text-primary me-2 add-to-cart ms-3" type="button" title="Increase item quantity"><i class="fa fa-plus" style="font-size: 0.8rem"></i></a>
            <input type="hidden" name="cartitem" class="cartItem" value="">
        </div>
    </small>
-->
                       
{% endblock main %}
{% block customJS %}
<script>
 
    //Fetching and displaying all products from the database
    function fetchProducts(){
        $.getJSON({
            url: "/get-products/",
            success: function(response) {
                if (response.status == "success") {
                    const useronline = "{{session.get('useronline')}}"; 
                    let productHtml = "";
                    $("#product-container").empty();
    
                    response.product_list.forEach(product => {
                        // Determine online status icon
                        let wishlistHtml = '';
                        let cartButtonHtml = '';

                        // Wishlist html based on the users wishlsit details
                        if (useronline != 'None') {
                            if (product.onWishlist) {
                                wishlistHtml += `
                                    <a type="button" class="d-flex justify-content-center mt-1 wishlist" data-product-id="${product.id}">
                                        <i class="fa-solid fa-heart wishlistIcon fs-5"></i>
                                    </a>
                                `;
                            } else {
                                wishlistHtml += `
                                    <a type="button" class="d-flex justify-content-center mt-1 wishlist" data-product-id="${product.id}">
                                        <i class="fa-regular fa-heart wishlistIcon fs-5"></i>
                                    </a>
                                `;
                            }
                        } else {
                            // User is not online
                            wishlistHtml += `
                                <a type="button" class="d-flex justify-content-center mt-1 wishlist" data-bs-target="#loginModal" data-bs-toggle="modal">
                                    <i class="fa-regular fa-heart fs-5 wishlistIcon"></i>
                                </a>
                            `;
                        }

                        // Cart button based on users online status
                        if (useronline != 'None'){
                            cartButtonHtml += `<a type="button" class="text-body add-to-cart" data-product-id="${product.id}"><i class="fa fa-shopping-cart text-primary me-2"></i>Add to cart</a>`;
                        } else {
                            cartButtonHtml += `<a type="button" class="text-body" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-shopping-cart text-primary me-2"></i>Add to cart</a>`;
                        }

                        const images = product.image.split('*');
                        if (images.length > 0) {
                            productHtml += `
                                <div class="col-lg-2 col-md-3 col-6">
                                    <div class="product-item">
                                        <a href="/product-details/${product.id}/" class="text-decoration-none">
                                            <div class="position-relative bg-light overflow-hidden">
                                                <img class="w-100" src="/static/products/${images[0]}" alt="..." height="120" title="Click image to view product details">
                                            </div>
                                        </a>
                                         <div class="text-center p-2">
                                            <a class="d-block text-dark mb-2" href="#">${product.name}</a>
                                            <span class="text-primary me-1 text-center">
                                               N${product.price}
                                            </span>
                                            <div class="d-flex mt-2">
                                                <small class="w-75 text-center py-2 border">
                                                    ${cartButtonHtml}
                                                </small>
                                                <small class="w-25 py-2 border">${wishlistHtml}</small>
                                            </div>      
                                        </div>
                                    </div>
                                </div>
                            `;
                        };
                    });
                    $("#product-container").append(productHtml);
                    $("#sub-title").html("Featured Products");

                    // Attach event listeners after content is added
                    $('.add-to-cart').on('click', function() {
                        const productId = $(this).data('product-id');
                        addToCart(productId);
                       
                    });
                    // Attach event listeners to wishlist
                    $('.wishlist').on('click', function() {
                        const productId = $(this).data('product-id');
                        addToWishlist(productId);
                    });
    
                } else if (response.status == "not-found"){
                    $("#product-container").html("<p class='d-flex justify-content-center' style='margin-top: 50px; min-height: 200px'>No products found.</p>");
                    $('#pagination-controls').hide();
                }
            },
            error: function(error) {
                $("#product-container").html("<p class='d-flex justify-content-center' style='margin-top: 50px; min-height: 200px'>Something went wrong. Please, try again.</p>");
            },
        })
    }

    //Handling searching for caterers, by location, name, and specialities
    function handleSearch() {
        const searchInput = document.getElementById('search-input').value.trim();
        const useronline = "{{ session.get('useronline') }}";
        const csrfToken = "{{csrf_token()}}"; 
    
        $.ajax({
            url: "/top-listing/",
            type: "POST",
            dataType: 'json',
            data: {
                "csrf_token": csrfToken,
                "searchInput": searchInput
            },
            success: function(response) {
                if (response.status === "success") {
                   
                    let productHtml = "";
                    $("#product-container").empty();
    
                    response.product_list.forEach(product => {
                        let wishlistHtml = '';
                        let cartButtonHtml = '';
    
                        if (useronline != 'None') {
                            if (product.onWishlist) {
                                wishlistHtml += `
                                    <a type="button" class="d-flex justify-content-center mt-1 wishlist" data-product-id="${product.id}">
                                        <i class="fa-solid fa-heart wishlistIcon fs-5"></i>
                                    </a>
                                `;
                            } else {
                                wishlistHtml += `
                                    <a type="button" class="d-flex justify-content-center mt-1 wishlist" data-product-id="${product.id}">
                                        <i class="fa-regular fa-heart wishlistIcon fs-5"></i>
                                    </a>
                                `;
                            }
                        } else {
                            wishlistHtml = `
                                <a type="button" class="d-flex justify-content-center mt-1 wishlist" data-bs-target="#loginModal" data-bs-toggle="modal">
                                    <i class="fa-regular fa-heart fs-5 wishlistIcon"></i>
                                </a>
                            `;
                        }
    
                         // Cart button based on users online status
                         if (useronline != 'None'){
                            cartButtonHtml += `<a type="button" class="text-body add-to-cart" data-product-id="${product.id}"><i class="fa fa-shopping-cart text-primary me-2"></i>Add to cart</a>`;
                        } else {
                            cartButtonHtml += `<a type="button" class="text-body" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-shopping-cart text-primary me-2"></i>Add to cart</a>`;
                        }

                        const images = product.image.split('*');
                        if (images.length > 0) {
                            productHtml += `
                                <div class="col-lg-2 col-md-3 col-6">
                                    <div class="product-item">
                                        <a href="/product-details/${product.id}/" class="text-decoration-none">
                                            <div class="position-relative bg-light overflow-hidden">
                                                <img class="w-100" src="/static/products/${images[0]}" alt="..." height="120" title="Click image to view product details">
                                            </div>
                                        </a>
                                         <div class="text-center p-2">
                                            <a class="d-block text-dark mb-2" href="#">${product.name}</a>
                                            <span class="text-primary me-1 text-center">
                                               N${product.price}
                                            </span>
                                            <div class="d-flex mt-2">
                                                <small class="w-75 text-center py-2 border">
                                                    ${cartButtonHtml}
                                                </small>
                                                <small class="w-25 py-2 border">${wishlistHtml}</small>
                                            </div>      
                                        </div>
                                    </div>
                                </div>
                            `;
                        };
                    });
                    $("#product-container").append(productHtml);
                    $("#sub-title").html("Featured Products");

                    // Attach event listeners after content is added
                    $('.add-to-cart').on('click', function() {
                        const productId = $(this).data('product-id');
                        addToCart(productId);
                       
                    });
                    // Attach event listeners to wishlist
                    $('.wishlist').on('click', function() {
                        const productId = $(this).data('product-id');
                        addToWishlist(productId);
                    });
    
                } else if (response.status == "not-found"){
                    $("#product-container").html("<p class='d-flex justify-content-center' style='margin-top: 50px; min-height: 200px'>No products found.</p>");
                    $('#pagination-controls').hide();
                }
            },
            error: function(error) {
                $("#product-container").html("<p class='d-flex justify-content-center' style='margin-top: 50px; min-height: 200px'>Something went wrong. Please, try again.</p>");
            },
        })
    }

    function addToCart(productId) {   
        $.ajax({
            url: `/add-to-cart/${productId}/`,
            type: "POST",
            data: {"csrf_token": "{{csrf_token()}}" },
            success: function(response) {
                if (response.status === "success") {
                    swal({
                        icon: 'success',
                        text: 'Product added to cart',
                        timer: 3000,
                        buttons: false,
                    })
                    $('.cart_items_count').text(response.number_of_cart_items);
                } else {
                    alert("Failed to add product to cart.");
                }
            },
            error: function(error) {
                alert("Something went wrong. Please try again.");
            }
        });
    }

    //Add and remove product from wishlist
    const addToWishlist = (productId) => {   
        const isRegular = $('.wishlistIcon').hasClass('fa-regular');
        let actionURL;
        if (isRegular) {
            actionURL = `/add-to-wishlist/${productId}/`;
        } else {
            actionURL = `/remove-from-wishlist/${productId}/`;
        }
        $.ajax({
            url: actionURL,
            type: 'POST',
            data: {"csrf_token": "{{csrf_token()}}" },
            success: function(response){
                if (response.status === 'success') {
                    $('.wishlistIcon').removeClass('fa-regular');
                    $('.wishlistIcon').addClass('fa-solid');
                    $('.wishlist_count').text(response.number_of_wishlist_item);
                    swal({
                        text: response.message,
                        icon: "success",
                        buttons: false,
                        timer: 3000,
                    });
                }
            } 
        });
    };
        
    $('.search-button').on('click', function() {
        handleSearch();
    });
    
    $('#search-input').on('keypress', function(event) {
        if (event.key === 'Enter') {
            event.preventDefault();
            handleSearch();
        }
    });

    //Remove product from cart
    document.addEventListener('DOMContentLoaded', function() {
        const removeFromCart = document.querySelectorAll('.remove-from-cart');
        removeFromCart.forEach(link => {
            link.addEventListener('click', function(event) {   
                const cartItemInput = link.nextElementSibling.nextElementSibling.nextElementSibling;
                if (cartItemInput && cartItemInput.classList.contains('cartItem')) {
                    const cart_id = cartItemInput.value;
                    $.ajax({
                        url: `/remove-from-cart/${cart_id}/`,
                        type: "POST",
                        data: {"csrf_token": "{{csrf_token()}}"},
                        success: function(response){
                            if (response.status == 'success'){
                               
                            }
                        }
                    })
                }
            })
        })
    })
     
    // Initial fetch
    fetchProducts();

</script>
{% endblock customJS %}
