{% extends 'utilities/layout.html' %}
    {% block main %}
    
    <!-- <h2 class="text-center py-3 mb-5 bg-light d-none d-md-block" id="sub-title"></h2> -->
    <div class="tab-content mt-3">
        <div id="tab-1" class="tab-pane fade show p-0 active">
            <div class="row g-3 mt-md-3 mx-1" id="chef-container">
                    
            </div>
        </div>
    </div>
    
    {% endblock main %}
    {% block customJS %}
<script>
    //Fetching and displaying all chefs from the database
    document.body.onload = function(){
        $.getJSON({
            url: "/get-chefs/",
            success: function(response) {
                if (response.status == "success") {
                    const useronline = "{{session.get('useronline')}}"; 
                    let chefHtml = "";
                    $("#chef-container").empty();
    
                    response.chef_list.forEach(chef => {
                        // Determine online status icon
                        let onlineStatusHtml = '';
                        if (useronline == chef.customerid) {
                            onlineStatusHtml = '<i class="fa-solid fa-circle online me-2" style="color: green; font-size: x-small;"></i>';
                        } else {
                            onlineStatusHtml = '<i class="fa-solid fa-circle me-2" style="color: grey; font-size: x-small;"></i>';
                        }
                        // Using the first letter of their lastname
                        const lastname = chef.lastname ? chef.lastname[0] : '';
                        chefHtml += `
                            <div class="col-lg-2 col-md-4 col-6 wow fadeInUp" data-wow-delay="0.1s">
                                <a href="/chef-details/${chef.id}/" class="text-decoration-none">
                                    <div class="card card-list">
                                        <input type="hidden" class="chef-input" name="chefId" value="${chef.id}" />
                                        <img src="/static/photos/${chef.dp}" alt="${chef.firstname} ${lastname}'s profile picture" height="210" style="object-fit: cover;">
                                        <div class="footer p-2 d-flex flex-column text-center" style="font-size: small;">
                                            <span class="h6 d-flex align-items-center justify-content-center">
                                            ${onlineStatusHtml}
                                            ${chef.firstname} ${lastname}.
                                            <img src="/static/photos/verify.png" width="16" class="ms-1" alt="Verified"/>
                                            </span>
                                            <span class="card-text text-format" style="background: lavender; border-radius: 4px">
                                                 <ul type="none" class="m-0 p-0">
                                                    ${chef.specialities.map(speciality => `<li>${speciality.name}</li>`).join('')}
                                                </ul>
                                            </span>
                                            <span class="text-muted px-2" style="font-style: italic;"><i class="fas fa-location-dot text-warning"></i> ${chef.city}, ${chef.state} State</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        `;
                    });
                    $("#chef-container").append(chefHtml);
                    $("#sub-title").html("Discover professional chefs around you.");
    
                } else if (response.status == "not-found"){
                    $("#chef-container").html("<p class='d-flex justify-content-center' style='margin-top: 50px; min-height: 200px'>No chefs found.</p>");
                }
            },
            error: function(error) {
                $("#chef-container").html("<p class='d-flex justify-content-center' style='margin-top: 50px; min-height: 200px'>Something went wrong. Please, try again.</p>");
            }
        });
    }  

   // Handling searching for chefs, by location, name, and specialities
    function handleSearch() {
        const searchInput = document.getElementById('search-input').value.trim();
        $.ajax({
            url: "/chefs/",
            type: "POST",
            dataType: 'json',
            data: { "csrf_token": "{{ csrf_token() }}", "searchInput": searchInput },
            success: function(response) {
                if (response.status == "success") {
                   
                    const useronline = "{{session.get('useronline')}}"; 
                    let chefHtml = "";
                    $("#chef-container").empty();
    
                    response.chef_list.forEach(chef => {
                        // Determine online status icon
                        let onlineStatusHtml = '';
                        if (useronline == chef.customerid) {
                            onlineStatusHtml = '<i class="fa-solid fa-circle online me-2" style="color: green; font-size: x-small;"></i>';
                        } else {
                            onlineStatusHtml = '<i class="fa-solid fa-circle me-2" style="color: grey; font-size: x-small;"></i>';
                        }
                        // Using the first letter of their lastname
                        const lastname = chef.lastname ? chef.lastname[0] : '';
                        chefHtml += `
                            <div class="col-lg-2 col-md-4 col-6 wow fadeInUp" data-wow-delay="0.1s">
                                <a href="/chef-details/${chef.id}/" class="text-decoration-none">
                                    <div class="card card-list">
                                        <input type="hidden" class="chef-input" name="chefId" value="${chef.id}" />
                                        <img src="/static/photos/${chef.dp}" alt="${chef.firstname} ${lastname}'s profile picture" height="210" style="object-fit: cover;">
                                        <div class="footer p-2 d-flex flex-column text-center" style="font-size: small;">
                                            <span class="h6 d-flex align-items-center justify-content-center">
                                            ${onlineStatusHtml}
                                            ${chef.firstname} ${lastname}.
                                            <img src="/static/photos/verify.png" width="16" class="ms-1" alt="Verified"/>
                                            </span>
                                            <span class="card-text text-format" style="background: lavender; border-radius: 4px">
                                                <ul type="none" class="m-0 p-0">
                                                    ${chef.specialities.map(speciality => `<li>${speciality.name}</li>`).join('')}
                                                </ul>
                                            </span>
                                            <span class="text-muted px-2" style="font-style: italic;"><i class="fas fa-location-dot text-warning"></i> ${chef.city}, ${chef.state} State</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        `;
                    });
                    $("#chef-container").append(chefHtml);
                    $("#sub-title").html("Discover professional chefs around you.");
    
                } else if (response.status == "not-found"){
                    $("#chef-container").html("<p class='d-flex justify-content-center' style='margin-top: 50px; min-height: 200px'>No chefs found.</p>");
                }
            },
            error: function(error) {
                $("#chef-container").html("<p class='d-flex justify-content-center' style='margin-top: 50px; min-height: 200px'>Something went wrong. Please, try again.</p>");
            }
        });
    }

    $('.search-button').on('click', function() {
        handleSearch();
    });
 
    $('#search-input').on('keypress', function(event) {
        if (event.key === 'Enter') {
            event.preventDefault();
            handleSearch(); 
        }
    });
</script>
{% endblock customJS %}