{% extends "chefs/dashboard_layout.html" %}
{% block title %}
{% endblock title %}
{% block main %}
    <div class="row">
        <div class="col">
            <h2 class="mb-3 py-2">CREATE PRODUCT</h2>
            <form action="{{url_for('chef_create_product')}}" method="post" enctype="multipart/form-data" id="forms" class="py-4">
             <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
             <div class="row justify-content-around">
                    <div class="col-12 col-md-4 px-md-2 mb-3">
                        <input type="file" name="photos" id="photo" style="display:none" multiple>
                        <label for="photo" class="row justify-content-center g-3 p-3" title="Select at most four (4) images of your product">
                            <img src="/static/images/picture.png" alt="..." class="col-5 img-fluid photo-preview-0">
                            <img src="/static/images/picture.png" alt="..." class="col-5 img-fluid photo-preview-1">
                            <img src="/static/images/picture.png" alt="..." class="col-5 img-fluid photo-preview-2">
                            <img src="/static/images/picture.png" alt="..." class="col-5 img-fluid photo-preview-3">
                        </label>
                        <h6>Please, select at most 4 images of your product.</h6>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="mb-3">
                            <label class="fs-5 d-block" for="product_name">Product Name</label>
                            <span style="font-size: smaller; font-style: italic">Example: Rice and Stew with Grilled Fish</span>
                            <input type="text" name="product_name" id="product_name" class="form-control "/>
                        </div>
                         <div class="mb-3">
                            <label class="fs-5 d-block" for="desc">Description</label>
                             <span style="font-size: smaller; font-style: italic">Example: Indulge in a symphony of flavors with our vibrant Rice and Stew, perfectly paired with succulent grilled fish. </span>
                            <textarea name="desc" id="desc" rows="3" class="form-control "></textarea>
                        </div>
                        <div class="mb-3">
                            <label class="fs-5 d-block" for="price">Price</label>
                            <input type="number" name="price" id="price" class="form-control "/>
                        </div>
                         <div class="mt-1">
                             <button type="button" class="btn btn-primary col-md-4 col-12 bnt-lg post-btn ">Create Product</button>
                         </div>
                     </div>
                 </div>
            </form>
        </div>
    </div>
{% endblock main %}

{% block customJS %}
<script>
    function readURL(input) {
        if (input.files && input.files.length > 0) {
            for (let i = 0; i < input.files.length; i++) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    $('.photo-preview-' + i).attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[i]);
            }
        }
    }    

    $('#photo').change(function(){
        readURL(this);
    });

    $('.post-btn').click(function(){
        const myForm = document.querySelector('#forms');
        const formData = new FormData(myForm);
        formData.append("csrf_token", "{{csrf_token()}}");

        $.ajax({
            url: "/chef-create-product/",
            type: "POST",
            cache: false,
            processData: false,
            contentType: false,
            data: formData,
            success: function(response){
                
                if (response.status == 'success'){
                    swal({
                        text: "Product has been created.",
                        icon: "success",
                        timer: 3000,
                        buttons: false,
                    });
                    window.location.replace('/chef-product/');
                }else {
                    swal({
                        text: "Please complete all data feilds.",
                        icon: "error",
                        buttons: false,
                        timer: 3000,
                    });
                }
            }
        });
    });

</script>
{% endblock customJS %}
