{% extends "chefs/dashboard_layout.html" %}

{% block main %}

<div class="d-flex align-items-md-center flex-column flex-md-row pt-2 pb-4">
  <div>
      <h3 class="fw-bold mb-3 text-primary"> Welcome back {{chef.customer_deets.firstname}}! </h3>
  </div>
  <div class="ms-md-auto py-2 py-md-0">
    <a href="{{url_for('chef_create_product')}}" class="btn btn-primary btn-round">Create Product</a>
  </div>
</div>

     <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="card card-stats card-round">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-icon">
                  <div class="icon-big text-center icon-primary bubble-shadow-small">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
                <div class="col col-stats ms-3 ms-sm-0">
                  <div class="numbers">
                    <p class="card-category">Profile Views</p>
                    <h4 class="card-title">{{chef.view_count}}</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="card card-stats card-round">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-icon">
                  <div class="icon-big text-center icon-info bubble-shadow-small">
                    <i class="fas fa-user-check"></i>
                  </div>
                </div>
                <div class="col col-stats ms-3 ms-sm-0">
                  <div class="numbers">
                    <p class="card-category">Bookings</p>
                    <h4 class="card-title">{{total_bookings}}</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="card card-stats card-round">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-icon">
                  <div class="icon-big text-center icon-success bubble-shadow-small">
                    <i class="fas fa-luggage-cart"></i>
                  </div>
                </div>
                <div class="col col-stats ms-3 ms-sm-0">
                  <div class="numbers">
                    <p class="card-category">Sales</p>
                    <h4 class="card-title">$ 1,345</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="card card-stats card-round">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-icon">
                  <div class="icon-big text-center icon-secondary bubble-shadow-small">
                    <i class="far fa-check-circle"></i>
                  </div>
                </div>
                <div class="col col-stats ms-3 ms-sm-0">
                  <div class="numbers">
                    <p class="card-category">Order</p>
                    <h4 class="card-title">576</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="card card-round">
                <div class="card-header">
                  <div class="card-title">My Products</div>
                </div>
                <div class="card-body p-0 pb-3">
                    <div class="table-responsive">
                        {% if products %}
                        <div class="container-fluid">       
                            <table class="table bg-secondary myTable">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Product Image</th>
                                        <th scope="col">Product Name</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Price (NGN)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in products %}
                                <tr>
                                    <td>{{loop.index}}</td>
                                    <td>
                                        {% set images = product.image.split('*') %}
                                        {% if images | length > 0 %}
                                            <img class="w-50" src="/static/products/{{images[0]}}" alt="..." height="50" />
                                        {% endif %}
                                    </td>
                                    <td>{{product.name}}</td>
                                    <td>{{product.description}}</td>
                                    <td>{{product.price}}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% else %}
                        <div class="row my-5">
                            <h6 class="text-center">You haven't created any products yet.</h6>
                        </div>
                        {% endif %} 
                    </div>
                </div>
            </div>
        </div>
    </div> 


  {% endblock main %}

