{% extends "chefs/dashboard_layout.html" %}
{% block main %}
<div class="d-flex justify-content-between">
    <h4><i class="fa fa-gear"></i> Update Your Profile</h4>
    <span>
        {% set messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'success' %}
                    <span class="alert alert-success"><i class="fa fa-circle-check"></i> {{message}}</span>
                    {% else %}
                    <span class="alert alert-danger"><i class="fa fa-circle-xmark"></i> {{message}}</span>
                {% endif %}
            {% endfor %}
        {% endif %}
    </span>

</div>

    <div class="row justify-content-around pb-4">
        <div class="col-lg-10">
            <form action="{{url_for('chef_profile_setting')}}" method="post" enctype="multipart/form-data" id="form">
                <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
                <div class="picture_wrapper">
                    <input type="file" name="photo" id="picture" class="picture" />
                    <img src="/static/photos/{% if chef.customer_deets.dp %}{{chef.customer_deets.dp}}{% else %}avatar.png{% endif %}" alt="..." class="w-100 photo" height="150"/>
                </div>
                <p class="text-center text-danger">[Image must be: JPG, PNG, JPEG, WEBP, or JFIF.]</p>
                <div class="card mx-auto rounded-2">
                    <!-- <div class="card-header p-3">
                        <h3 class="text-decoration-underline">Personal Information</h3>
                    </div> -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input type="text" name="firstname" id="firstname" class="form-control " value="{{chef.customer_deets.firstname}}" />
                                    <label for="firstname">Firstname</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input type="text" name="lastname" id="lastname" class="form-control " value="{{chef.customer_deets.lastname}}" />
                                    <label for="lastname">Lastname</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                <input type="email" name="email" id="email" class="form-control " value="{{chef.customer_deets.email}}" />
                                <label for="email">Email</label>
                            </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                <input type="text" name="phone" id="phone" class="form-control " value="{{chef.customer_deets.phone}}" minlength="11" maxlength="11" required/>
                                <label for="phone">Phone</label>
                            </div>
                            </div>
                            
                            <div class="col-md-6">
                                <select name="states" id="states" class="form-select mb-3 py-3">
                                    {% for state in states %}
                                        {% if state.id == chef.customer_deets.state.id %}
                                        <option value="{{state.id}}" selected>{{state.name}}</option>
                                        {% else %}
                                        <option value="{{state.id}}">{{state.name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-6">
                                <select name="city" id="city" class="form-select mb-3 py-3">
                                    <option value="{{chef.customer_deets.lga.id}}">{{chef.customer_deets.lga.name}}</option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <div class="d-flex justify-content-between">
                                        <label for="bio" class="form-label">Biography</label>
                                        <span id="charCount"></span>
                                    </div>
                                    <textarea name="bio" id="bio" rows="3" class="form-control" maxlength="255">{% if chef.biography %}{{chef.biography}}{% endif %}</textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating mb-3">
                                    <input type="text" name="instagram" id="instagram" placeholder="Instagram Url" class="form-control" value="{% if chef.instagram_url %}{{chef.instagram_url}}{% endif %}"/>
                                    <label for="instagram">Instagram Handle</label>
                                </div>
                            </div>
                        <div class="mt-4">
                            <button type="button" class="btn btn-primary col-12 col-md-auto bnt-lg profile-update-btn ">Save Changes</button>
                        </div>
                    </div>
                </div>
                </div>
            </form>

            {% if chef_specialities %}
            <div class="card mx-auto rounded-2">
                <div class="card-header p-3">
                    <div class="d-flex align-items-center">
                        <h3>My Specialities</h3>
                        {% if chef_specialities | length < 4 %}
                            <h6 class="ms-auto">
                                <a type="button" data-bs-toggle="modal" data-bs-target="#editSpeciality" class="p-2 px-3 rounded-5" style="background-color: lightblue;">Add <i class="fa fa-plus-circle"></i></a>
                            </h6>
                        {% endif %}
                    </div>
                </div>
                <div class="card-body">
                    <div class="row mx-2">
                        {% for speciality in chef_specialities %}
                        <p class="col-auto me-3 d-flex justify-content-between" style="border: 1px solid #0d6efd; border-radius: 5px">
                            <span class="text-decoration-none">{{ speciality.speciality.name }}</span>
                            <a
                                href="{{url_for('chef_delete_speciality', id=speciality.id)}}"
                                type="button"
                                class="btn-close btn-sm"
                                onclick="confirm('Are you sure you want delete this speciality?')">
                            </a>
                        </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
            
        </div>
    </div>
 <!-- Edit skills -->
 <div  class="modal fade"  id="editSpeciality"  data-bs-backdrop="static"  data-bs-keyboard="false" tabindex="-1"  aria-labelledby="editSpecialityLabel"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header p-3">
                <h1 class="modal-title fs-5" id="editSpecialityLabel">
                    <i class="fa-solid fa-kitchen-set"></i> Select your specialities.
                </h1>
                <a
                type="button"
                class="btn-close"
                href="{{ url_for('chef_profile_setting') }}">
                </a>
            </div>
            <form action="/chef-add-speciality/" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="modal-body">
                    <select name="specialities" id="specialities" class="form-select" multiple>
                        {% for speciality in specialities %}
                        <option value="{{speciality.id}}" id="{{speciality.id}}" class="mb-2">{{speciality.name}}</option>
                        {% endfor %}
                    </select>
                    <div class="my-3" id="selectedSpeciality">
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="save-btn"> Save Changes </button>
                    <a type="button" class="btn btn-dark me-auto" href="{{url_for('chef_profile_setting')}}"> Cancel </a>
                </div>
            </form>
        </div>
    </div>
 </div>
 <!-- Edit skills -->
{% endblock main %}
{% block customJS %}
<script>
    
    $('#states').change(function(){
        const state = $(this).val();
      
        $.getJSON({
          url: `/get_city/${state}`,
          success: function(city){
            $('#city').empty();
            for (let i = 0; i < city.length; i++) {
                $('#city').append(`<option value='${city[i].id}'>${city[i].name}</option>`);
            }
          }
        });
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
                $('.photo').attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

    $('.picture').change(function(){
        readURL(this);
    });
    
    function readVideoURL(input) {
        if (input.files) {
            const reader = new FileReader();
            reader.onload = function (e) {
                $('.video-preview').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $('#video').change(function(){
        readVideoURL(this);
        $('#video-placeholder').addClass('hidden');
        $('.video-preview').removeClass('hidden');
    });

    // Counting the characters as the user type in their bio
    const textInput = document.getElementById('bio');
    const charCount = document.getElementById('charCount');
    const maxLength = 255;

    textInput.addEventListener('input', () => {
        const currentLength = textInput.value.length;
        charCount.textContent = `${currentLength}/${maxLength}`;
    });

    $('.profile-update-btn').click(function(){
        
        const myForm = document.querySelector('#form');
        const formData = new FormData(myForm);
        formData.append("csrf_token", "{{csrf_token()}}");
        
        $.ajax({
            url: "/chef-profile-setting/",
            type: "POST",
            cache: false,
            processData: false,
            contentType: false,
            data: formData,
            success: function(response){
                if (response.status == 'success'){
                    swal({
                        text: "Your profile has been updated.",
                        icon: "success",
                        timer: 3000,
                        buttons: false,
                        timer: 3000,
                    });
                } else if (response.status == 'error'){
                    swal({
                        text: response.message,
                        icon: "error",
                        buttons: false, 
                        timer: 3000,
                    });  
                } else {
                    swal({
                        text: response.message,
                        icon: "error",
                        buttons: false,
                        timer: 3000,
                    });
                }
                function redirectToLogin() {
                    window.location.replace('/chef-profile-setting/');
                };
                const timer = setTimeout(redirectToLogin, 3000);
            },
        });
      
    });

    // Previewing selected Sepcialities
    document.getElementById('specialities').addEventListener('change', function() {
        var selectedOptions = Array.from(this.selectedOptions);
        var selectedSpecialitiesDiv = document.getElementById('selectedSpeciality');
        
        // Clear previous selections
        selectedSpecialitiesDiv.innerHTML = '';

        // Append selected options
        selectedOptions.forEach(function(option) {
            var span = document.createElement('span');
            span.textContent = option.text;
            span.className = 'badge bg-primary me-2';
            selectedSpecialitiesDiv.appendChild(span);
        });
    });
    
    //Handling speciality update
    $('#save-btn').click(function(){
        const specialities = $('#specialities').val();
        $.ajax({
            url: "/chef-add-speciality/",
            type: "POST",
            data: {"csrf_token": "{{csrf_token()}}", "specialities": specialities},
            success: function(response){
                if (response.status == 'success'){
                    swal({
                        text: "Social media handle successfully updated.",
                        icon: "success",
                        timer: 2000,
                        buttons: false,
                    });
                    window.location.replace('/chef-profile-setting/');
                }
                   
            },
            error: function(error){
                swal({
                    text: "Something went wrong, please try again",
                    icon: "error",
                    timer: 2000,
                    buttons: false,
                });
            }
        })
    })
    
   
</script>
{% endblock customJS %}
